<link href="http://localhost:3002/static/fragment.css" rel="stylesheet" />
<div class="recommendation_fragment">
  <h2 class="recommendation_headline">Las mejores opciones par ti</h2>
  <div class="recommendation_recommendations">
    <a href="http://localhost:3001/product/zapato_italiano">
      <img src="http://localhost:3001/img/zapato_italiano.png" />
    </a>
    <a href="http://localhost:3001/product/zapato_sport">
      <img src="http://localhost:3001/img/zapato_sport.png" />
    </a>
  </div>
</div>
