/* RECOMMENDATION CONTENT STYLES */
.recommendation_headline {
  padding-top: 1em;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.recommendation_recommendations {
  text-align: center;
}

.recommendation_recommendations a {
  display: inline-block;
  margin: 1rem;
  border: 1px solid #333;
}

.recommendation_recommendations img {
  max-width: 100%;
  width: 300px;
}
